@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--very-light-gray);
  font-size: 15px;
  color: var(--grayish-blue);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 30px;
}

.top_layer {
  text-align: center;
}

.top_layer h1.first {
  font-size: 34px;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

.top_layer h1.second {
  font-size: 34px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.top_layer p {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.bottom_layer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 70px;
  gap: 25px;
}

.box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: right;
}

.box_text {
  text-align: left;
  padding-bottom: 50px;
}

.box1 {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.box2 {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.box3 {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.box4 {
  border-top: 4px solid hsl(212, 86%, 64%);
}
.box_text h2 {
  color: var(--very-dark-blue);
  font-size: 20px;
}

.box_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.box1,
.box4 {
  align-self: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  .bottom_layer {
    grid-template-columns: 1fr;
  }
  .box {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 425px) {
  body {
    font-size: 12px;
  }

  header h1 {
    font-size: 22px;
  }
}
